body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*--------------------------------------------- Barra de navegación ----------------------------------------------- */
.barra-navegacion {
  display: flex;
  justify-content: space-between; 
  background-color: #000000;
  align-items: center;
  padding: 0px 40px;
  color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}


.iconos {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  margin-left: 485px
}

.icono {
  width: 35px;
  height: 35px;
  filter: invert(1); 
  transition: transform 0.5s ease;
}


.icono:hover {
  transform: scale(1.05);
}



/*---------------------------------------------------------------------------*/

    .img_regalo{
        width: 100px;
        align-content: centerx;
    }
    
    .titulo{
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    text-align: center;
    font-size: 60px !important;
    color: #000000;
    font-weight: bold;
    }

    #carrito {
      width: 85%;
      margin: 0 auto;
      text-align: center;
    }

    #carrito h2 {
      font-size: 28px;
      margin-bottom: 20px;
    }

    .carrito-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      gap: 20px;
    }

    .carrito-item {
      background: #fff;
      border-radius: 12px;
      padding: 15px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      text-align: center;
      
    }

    .carrito-item img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 8px;
    }

    .carrito-item h4 {
      margin: 10px 0 5px;
      font-size: 16px;
    }

    .carrito-item p {
      margin: 5px 0;
      font-size: 14px;
    }

    .carrito-item .cantidad {
      margin: 10px 0;
      font-size: 14px;
      color: #555;
    }

    .carrito-item .botones {
      display: flex;
      justify-content: center;
      gap: 8px;
      margin-top: 10px;
    }
    

    .carrito-item .botones button {
      background: #2196F3;
      color: white;
      border: none;
      padding: 6px 10px;
      border-radius: 6px;
      cursor: pointer;
      font-size: 14px;
      transition: transform 0.2s ease;
      width: 100px;
      height: 30px;
      font-size: medium;
    }

    .carrito-item .botones button:hover {
    transform: scale(1.2); /* se hace más grande al pasar el cursor */
    }

    .carrito-item .botones .delete:hover {
    transform: scale(1.2); /* igual para delete */
    }

    .carrito-item .botones .delete {
      background: #ff4d4d;
    }

    #carrito-total {
      margin-top: 7px;
      font-size: 20px;
      font-weight: bold;
      color: #ff4d4d;
    }

/* --------------------------------------------------- FOOTER ---------------------------------------------------*/
.footer {
  background: black;
  color: white;
  padding: 3%;
  display: flex;
  justify-content: space-around;
}

.footer h4 {
  color: #ffffff;         
  margin-bottom: 8px;
}

.div_con{
    text-align: center;
}
.logos{
    width:30px; 
    margin:0 5px;
}

.logos_a {
  display: inline-block;
  margin-right: 10px; 
}

.footer a {
  font-size: 0.95rem;
  transition: color 0.3s ease;
  color: #fff8da;
}